
.btn {
  border-radius: 50px !important;
  border: 0 !important;
  height: 65px !important;
  transition: $Transition !important;
}

.btn-primary {
  background-color: $Primary-Color !important;

  &:hover, &:focus, &:active, &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active,
  .show > &.dropdown-toggle,
  .btn-primary.focus, .btn-primary:focus, {
    background-color: $Secondary-Color !important;
    box-shadow: 0 0 0 0.2rem rgba(177, 107, 96, .5) !important;
  }
}

.btn-primary.disabled, .btn-primary:disabled {
  cursor: not-allowed;
  background-color: $Primary-Color;

  &:hover {
    background-color: $Primary-Color;
    box-shadow: none;
  }
}
