button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 0;
	border-radius: 0;
	line-height: 1;
	padding: 10px 25px;
	height: 50px;
	font-weight: bold;
	letter-spacing: 1px;
	transition: $Transition;
	outline: none;
	background-color: $Primary-Color;
	color: #FFFFFF;
	position: relative;
	font-weight: 600;
	font-size: 15px;
}

button::after,
input[type="button"]::after,
input[type="reset"]::after,
input[type="submit"]::after {
	content: '';
	width: 20%;
	height: 1px;
	background-color: #fff;
	position: absolute;
	display: inline-block;
	top: 23px;
	right: 8px;
}

button:focus, input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus {
	outline: none;

}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea, select,
.form-control {
	color: $Primary-Color;
	background: #f7f7f7;
	border: 0;
	border-bottom: 1px solid rgba(0,0,0,.12);
	padding: 8px 8px 8px 20px;
	min-height: 50px;
	margin-bottom: 20px;
	width: 100%;
	font-size: 16px;
	transition: $Transition;
	outline: none;
	border-radius: 0;
	font-family: "Montserrat", sans-serif!important;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus, select:focus,
.form-control:focus {
	color: $Primary-Color;
	border-color: $Secondary-Color;
	box-shadow: 0 0 0 0.2rem rgba(1, 115, 183, .5);
}

select {
	border: 1px solid #ccc;

}

textarea {
	width: 100%;
	border-radius: 0;
}
