@media (min-width: 1200px) {

}

@media (min-width: 1300px) {

}

@media (min-width: 1460px) {

}

@media (max-width: 1440px) {

}

@media (max-width: 1100px) {
	.site-header {
		padding: 15px;

		.site-branding {
			img {
				display: block;
				margin: 0 auto 10px auto;
			}
		}

		.site-navigation {
			ul {
				text-align: center;
			}
		}
	}
	.under-slider {
		h2 {
			font-size: 18px;
		}
	}
}

@media (max-width: 768px) {
	.top-bar {
		ul {
			li {
				span {
					display: none;
				}
			}
		}

		.top-right-bar {
			justify-content: space-between;

			.social-links {
				ul {
					margin: 0;
				}
			}
		}
	}
	.site-header {
		padding: 10px 0;

		.site-branding {
			img {
				margin: inherit;
				display: inline-block;
			}
		}
	}

	.site-footer {
		padding: 40px 0;

		ul {
			display: block;
			margin-bottom: 20px;

			li {
				padding: 0 8px 0 0;
			}
		}
	}

	.dbl-bg {
		background: linear-gradient(180deg, #333333 50%, #ffffff 50%);
	}
	.gp-block {
		ul li {
			height: 100px;
			width: 100px;
			line-height: 100px;
			font-size: 13px;
		}
	}
	.lwi-block {
		padding-top: 100px;
	}
}

@media (max-width: 576px) {

}

@media (max-width: 500px) {
	.top-bar {
		.top-right-bar {
			justify-content: flex-end;

			ul {
				display: none;
			}

			.social-links {
				ul {
					display: flex;
				}
			}
		}
	}
}
