body,
button,
input,
select,
optgroup,
textarea {
  color: #000000;
  font-size: 1rem;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
}

p {
  margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  margin: 0 1.5em;
}

address {
  margin: 0 0 1.5em;
}

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", courier, monospace;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

code,
kbd,
tt,
var {
  font-family: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

mark,
ins {
  background: transparent;
  text-decoration: dotted;
  border-bottom: 1px dotted;
  padding: 0 .3em;
}

big {
  font-size: 125%;
}

h1, h2.h1, h3.h1 {
  font-size: 48px;
  line-height: 1;
  letter-spacing: -2.5px;
  font-weight: 300;
  margin-bottom: .5em;
  //text-transform: uppercase;
}

h2, h1.h2, h3.h2, h4.h2 {
  font-size: 40px;
  line-height: 1;
  letter-spacing: -1.5px;
  font-weight:300;
  margin-bottom: .5em;
}

h3, h1.h3, h2.h3, h4.h3, h5.h3 {
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: -1px;
  font-weight:400;
  margin-bottom: .75em;
}

h4, h1.h4, h2.h4, h3.h4, h5.h4 {
  font-size: 22px;
  line-height: 1.2;
  letter-spacing: -0.5px;
  font-weight:700;
  margin-bottom: 1em;
}

p.light-text {
  color: #fff;
}

.readable {
  max-width: 680px;
}

.ourvision {
  position: relative!important;
  & > * {
    z-index: 2;
  }
  &:before {
    position: absolute;
    display: block!important;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.75);
    z-index: 1;
  }
}