// fonts
$Primary-Font: 'Open Sans', sans-serif;
;
// colors
$Body-BG: #f5f6f9;
$Body-Color: #000000;
$Primary-Color: #04629b;
$Secondary-Color: #0173b7;
$Third-Color: #0b557a;
$Fourth-Color: #014c75;
$White: #ffffff;
$Black: #000000;
$Primary-BG: #f7f8fa;
$CopyRight: #2a2634;
$Border-Radius: 5px;
$Transition: all 0.5s ease;
$Star-Color: #fdb913;
